{% extends "base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="section">
    <div class="container">
        <div class="section-title"><h2>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2></div>    
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="contact-form-wrapper contact-us">	
                    <div class="form-main">
                        <div class="basic-login">
                            {% if token_fail %}
                                {% url 'account_reset_password' as passwd_reset_url %}
                                <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                            {% else %}
                                <form method="POST" action="{{ action_url }}">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <input class="btn" type="submit" name="action" value="{% trans 'change password' %}"/>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}