{% extends "base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="section">
    <div class="container">
        <div class="section-title"><h2>{% trans "Change Password" %}</h2></div>    
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="contact-form-wrapper contact-us">	
                    <div class="form-main">
                        <div class="basic-login">                      
                            <p>{% trans 'Your password is now changed.' %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>         
{% endblock %}