{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="section">
        <div class="container">
			<div class="section-title"><h2>Redefinição de Senha</h2></div>    
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="contact-form-wrapper contact-us">	
                        <div class="form-main">
                            <div class="basic-login">
                                <p><b>{% trans "Password Reset" %}</b></p>

                                {% if user.is_authenticated %}
                                    {% include "account/snippets/already_logged_in.html" %}
                                {% endif %}

                                <p>{% blocktrans %}Nós lhe enviamos um e-mail. Caso não tenha recebido, verifique sua caixa de spam. Caso contrário, entre em contato conosco se você não recebê-lo em alguns minutos.{% endblocktrans %}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>                   

{% endblock %}
