{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
   <div class="section">
        <div class="container">
			<div class="section-title"><h2>E-Mail de Verificação</h2></div>    
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="contact-form-wrapper contact-us">	
                        <div class="form-main">
                            <div class="basic-login">
                                <p><b>{% trans "Verify Your E-mail Address" %}</b></p>

                                <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>                   

{% endblock %}
