{% extends 'base.html' %}
{% load static %}
{% block menu_servicos %}active{% endblock %}
{% block content %}

	<section class="shop-blog section">
		<div class="container">
			<!-- Lista de Produtos -->  
			<div class="section-title"><h2>Anunciante: {{usuario_id}}</h2></div>      
			<div class="row">
				{% for servico in servicos %}
				<div class="col-lg-4 col-md-6 col-12">
					<!-- Product -->
					<div class="shop-item">
						<!-- Product Image -->
						<div class="shop-single-blog">
								<a href="/detalhes_servico/{{servico.id}}">
								<img src="{{servico.imagem.url}}" alt="#"></a>
							<div class="content">
									<p class="date"></p>
									<p><a href="/detalhes_servico/{{servico.id}}" class="title">{{servico.tx_titulo_servico }}</a></p>
									<p><a href="/detalhes_servico/{{servico.id}}" class="btn">Visualizar</a></p>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>

	<div class="container" style="padding: 25px 0">
		<nav aria-label="Page navigation example">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				{% if servicos.has_previous %}
					<li class="page-item"><a class="page-link" href="?page={{ servicos.previous_page_number }}">&laquo;</a></li>
				{% else %}
					<li class="page-item" class="disabled"><span class="page-link">&laquo;</span></li>
				{% endif %}
				{% for i in servicos.paginator.page_range %}
					{% if servicos.number == i %}
					<li class="page-item" class="active"><span class="page-link" >{{ i }} <span class="sr-only">(current)</span></span></li>
					{% else %}
					<li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
					{% endif %}
				{% endfor %}
				{% if servicos.has_next %}
					<li class="page-item"><a class="page-link" href="?page={{ servicos.next_page_number }}">&raquo;</a></li>
				{% else %}
					<li class="page-item" class="disabled"><span class="page-link">&raquo;</span></li>
				{% endif %}
			</ul>
		</nav>
	</div>

{% endblock %}
