{% extends 'base.html' %}
{% load static %}
{% block menu_produtos %}active{% endblock %}
{% block content %}
{% load humanize %}

	<div class="section">
	    	<div class="container">
                <!-- Lista de Produtos -->
                <h2>Anunciante: {{usuario_id}} - produtos</h2>            
				<div class="row">
					{% for produto in produtos %}
					<div class="col-sm-4">
						<!-- Product -->
					
						<div class="shop-item">
							<!-- Product Image -->
							<div class="image">
								<a href="/detalhes_produto/{{produto.id}}"><img src="{{produto.imagem.url}}" alt="Item Name"></a>
							</div>
							<!-- Product Title -->
							<div class="title">
								<h3><a href="/detalhes_produto/{{produto.id}}">{{produto.nm_produto}}</a></h3>
							</div>
							<!-- Product Price-->
							<div class="price">
								<span>R$ {{produto.vl_produto|floatformat:2}}</span>
							</div>
							<!-- Add to Cart Button -->
							<div class="actions">
								<a href="/detalhes_produto/{{produto.id}}" class="btn"><i class="icon-shopping-cart icon-white"></i> Visualizar</a>
							</div>
						</div>
						<!-- End Product -->
					</div>
					{% endfor %}
					<!--
			<!-- Paginação -->
			<div class="container">
				<nav aria-label="Page navigation example">
					<ul class="pagination">
						{% if produtos.has_previous %}
							<li class="page-item"><a class="page-link" href="?page={{ produtos.previous_page_number }}">&laquo;</a></li>
						{% else %}
							<li class="page-item" class="disabled"><span class="page-link">&laquo;</span></li>
						{% endif %}
						{% for i in produtos.paginator.page_range %}
							{% if produtos.number == i %}
							<li class="page-item" class="active"><span class="page-link" >{{ i }} <span class="sr-only">(current)</span></span></li>
							{% else %}
							<li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
							{% endif %}
						{% endfor %}
						{% if produtos.has_next %}
							<li class="page-item"><a class="page-link" href="?page={{ produtos.next_page_number }}">&raquo;</a></li>
						{% else %}
							<li class="page-item" class="disabled"><span class="page-link">&raquo;</span></li>
						{% endif %}
					</ul>
				</nav>
			</div>
		</div>
	</div>

{% endblock %}


