{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}
{% block title %}Flex Mogi - Anúncios{% endblock %}
{% block content %}
<section id="contact-us" class="contact-us section">
	    <div class="container">
			<div class="section-title">
				<h2>Fale Conosco</h2>
			</div>
	        <div class="row">
	        	<div class="col-md-12 col-sm-12">
                    <div class="basic-login">
	        			<!-- Contact Form -->
	        			<div class="contact-form-wrapper">	
							<div class="form-main">
								<form method="post">
									{% csrf_token %}
									{{ form|crispy }}
									<div class="form-actions">
										<button class="btn" type="submit">Enviar</button>
									</div>
								</form>
							</div>
		        		</div>
		        		<!-- End Contact Info -->
	        		</div>
	        	</div>
	    	</div>
	    </div>

	</section>
{% endblock %}
