{% extends 'base.html' %}
{% load static %}
{% block title %}Flex Mogi - Anúncios{% endblock %}

{% block content %}
     
        <div class="section">
	    	<div class="container">
			<h2>Login</h2>     
				<div class="row">
					<div class="col-sm-5">
						<div class="basic-login">
							<form role="form" role="form">
								<div class="form-group">
		        				 	<label for="login-username"><i class="icon-user"></i> <b>Nome de usuário ou E-mail</b></label>
									<input class="form-control" id="login-username" type="text" placeholder="">
								</div>
								<div class="form-group">
		        				 	<label for="login-password"><i class="icon-lock"></i> <b>Senha</b></label>
									<input class="form-control" id="login-password" type="password" placeholder="">
								</div>
								<div class="form-group">
									<label class="checkbox">
										<input type="checkbox"> Lembre-me
									</label>
									<a href="page-password-reset.html" class="forgot-password">Esqueceu a senha?</a>
									<button type="submit" class="btn pull-right">Login</button>
									<div class="clearfix"></div>
								</div>
							</form>
						</div>
					</div>
					<div class="col-sm-7 social-login">
						<p>Ou login com seu Facebook ou Twitter</p>
						<div class="social-login-buttons">
							<a href="#" class="btn-facebook-login">Login com Facebook</a>
							<a href="#" class="btn-twitter-login">Login com Twitter</a>
						</div>
						<div class="clearfix"></div>
						<div class="not-member">
							<p>Não está cadastrado? <a href="page-register.html">Cadastrar-se</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>

{% endblock %}
