{% extends 'base.html' %}
{% load static %}
{% block content %}

        <div class="section">
			<div class="container">
			    <h2>Perguntas e Respostas</h2>            
				<div class="row">
					<div class="col-md-12 faq-wrapper">
						<div class="panel-group" id="accordion2">
							<h3>Sobre o Negocia aí, vizinho!</h3>
							<div class="panel panel-default">
								<div class="panel-heading">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse11">
										Quem é o 'Negocia aí, vizinho!'?
									</a>
								</div>
								<div id="collapse11" class="accordion-body collapse">
									<div class="accordion-inner">
										<div class="answer">Resposta:</div>
										<p>O 'Negocia aí, vizinho!' é um site criado por 4 estudantes da área de tecnologia da Univesp Polo de Mogi das Cruzes para a disciplina de Projeto Integrador. A intenção do nosso projeto é oferecer um espaço de divulgação para que você possa anunciar e localizar ofertas de pessoas que residam ou tenham um comércio próximo da sua casa. </p>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse12">
										O 'Negocia aí, vizinho!' é grátis?
									</a>
								</div>
								<div id="collapse12" class="accordion-body collapse">
									<div class="accordion-inner">
										<div class="answer">Resposta:</div>
										<p>Sim! Você pode anunciar sem pagar nada por isso. </p>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse13">
										O 'Negocia aí, vizinho!' intermedia negociações e pagamentos?
									</a>
								</div>
								<div id="collapse13" class="accordion-body collapse">
									<div class="accordion-inner">
										<div class="answer">Resposta:</div>
										<p>Não. O site apenas exibe os anúncios cadastrados pelos anunciantes. A negociação é feita diretamente com o responsável pelo anúncio através do contato disponibilizado por ele.</p>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse14">
										Porquê utilizar o Negocia aí, vizinho?
									</a>
								</div>
								<div id="collapse14" class="accordion-body collapse">
									<div class="accordion-inner">
										<div class="answer">Resposta:</div>
										<p>A proposta do site é ser um espaço onde cada anunciante possa inserir seus produtos e/ou serviços e alterá-los quando quiser. A vantagem disso é que, quando divulgar o seu trabalho em grupos de Whattsapp ou facebook, você terá todos os seus anúncios sempre atualizados, organizados e com aprsentação profissional. Assim, não importa se o seu cliente viu a postagem que você fez esta semana ou a do mês passado, ao entrar no link da sua loja, as informações serão sempre as atuais.</p>
									</div>
								</div>
							</div>
							
							<h3>Anúncios</h3>
							<div class="panel panel-default">
								<div class="panel-heading">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse21">
										Como eu anúncio no 'Negocia aí, vizinho!'?
									</a>
								</div>
								<div id="collapse21" class="accordion-body collapse">
									<div class="accordion-inner">
										<div class="answer">Resposta:</div>
										<p>Para anunciar é preciso criar uma conta utilizando e-mail e senha. </p>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse22">
										Como adicionar ou excluir anúncios?
									</a>
								</div>
								<div id="collapse22" class="accordion-body collapse">
									<div class="accordion-inner">
										<div class="answer">Resposta:</div>
										<p>Na sua área de usuário é possível realizar alterações na situação do seu anúncio. É possível colocá-lo como ativo (se seu produto estiver disponível), inativo (se estiver indisponível no momento) ou apagá-lo (caso não deseje vender mais o produto). Não esqueça de adiconar uma foto e descrição, é muito importante.</p>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse23">
										Como comprar?
									</a>
								</div>
								<div id="collapse23" class="accordion-body collapse">
									<div class="accordion-inner">
										<div class="answer">Resposta:</div>
										<p>Ao navegar no site e escolher um produto ou serviço, é preciso entrar em contato e conversar com o vendedor.</p>
									</div>
								</div>
							</div>
						

						</div>
					</div>
				</div>
			</div>
	    </div>

{% endblock %}