{% extends 'base.html' %}
{% load static %}
{% block menu_produtos %}active{% endblock %}
{% block content %}
{% load humanize %}

	<section class="shop-blog section">
		<div class="container">
			<!-- Lista de Produtos -->  
			<div class="section-title"><h2>Resultado da Pesquisa</h2></div>      
			<div class="row">
				{% for anuncio in anuncios %}
				<div class="col-lg-4 col-md-6 col-12">
					<!-- Product -->
					<div class="shop-item">
						<!-- Product Image -->
						<div class="shop-single-blog">
							{% if anuncio.nm_produto %}
								<a href="/detalhes_produto/{{anuncio.id}}">
								<img src="{{anuncio.imagem.url}}" alt="#"></a>
							{% else %}
								<a href="/detalhes_servico/{{anuncio.id}}">
								<img src="{{anuncio.imagem.url}}" alt="Item Name"></a>
							{% endif %}

							<!-- Product Title -->
							<div class="content">
								{% if anuncio.nm_produto %}
									<p class="date">R$ {{anuncio.vl_produto|floatformat:2}}</p>
									<p><a href="/detalhes_produto/{{anuncio.id}}" class="title">{{anuncio.nm_produto}}</a></p>
									<p><a href="/detalhes_produto/{{anuncio.id}}" class="btn">Visualizar</a></p>
								{% else %}
									<p class="date"></p>
									<p><a href="/detalhes_servico/{{anuncio.id}}" class="title">{{anuncio.tx_titulo_servico }}</a></p>
									<p><a href="/detalhes_servico/{{anuncio.id}}" class="btn">Visualizar</a></p>							
								{% endif %}
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
	
	<!-- Paginação -->
	<div class="container" style="padding: 25px 0">
		<nav aria-label="Page navigation example">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				{% if anuncios.has_previous %}
					<li class="page-item"><a class="page-link" href="?search={{ request.GET.search }}&page={{ anuncios.previous_page_number }}">&laquo;</a></li>
				{% else %}
					<li class="page-item" class="disabled"><span class="page-link">&laquo;</span></li>
				{% endif %}
				{% for i in anuncios.paginator.page_range %}
					{% if anuncios.number == i %}
					<li class="page-item" class="active"><span class="page-link" >{{ i }} <span class="sr-only">(current)</span></span></li>
					{% else %}
					<li class="page-item"><a class="page-link" href="?search={{ request.GET.search }}&page={{ i }}">{{ i }}</a></li>
					{% endif %}
				{% endfor %}
				{% if anuncios.has_next %}
					<li class="page-item"><a class="page-link" href="?search={{ request.GET.search }}&page={{ anuncios.next_page_number }}">&raquo;</a></li>
				{% else %}
					<li class="page-item" class="disabled"><span class="page-link">&raquo;</span></li>
				{% endif %}
			</ul>
		</nav>
	</div>


{% endblock %}
