{% extends 'base.html' %}
{% load static %}
{% block content %}
  
        <div class="section">
	    	<div class="container">
				<h2>Política de privacidade e segurança</h2>				
				<div class="row">
					<div class="col-md-12">
						<p>A Política de Privacidade e Segurança descrita abaixo constitui parte das Condições de Termos e Uso do presente site, respeitando todas as normas previstas nas legislações vigentes em nosso país, principalmente na Lei Geral de Proteção de Dados.</p>
						<p>A Visita e permanência no site implica-se automaticamente na concordância explicita na política abaixo em todos os seus termos.</p>
						<p>Este site é operado e mantido por alunos da Universidade Virtual do Estado de São Paulo, Univesp, polo Mogi das Cruzes, disciplina: Projeto Integrador I (grupo 01) - ano 2021 2ºsemestre</p>
						
						<hr /><h3><strong>Informações Gerais:</strong></h3>
						<p>Este site realiza os tratamentos de dados pessoais dos usuários do site, desde a fase da sua coleta até a sua eliminação, respeitando a legislação do país onde foi criado. Atuando como controlador dos dados pessoais coletados por meio desse site, ficamos à disposição das normas trazidas na<a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/l13709.htm"> Lei Federal n. 13.709/2018, </a>Lei Geral de Proteção de dados.</p>
						<p>O Site trabalha com todas as medidas necessárias para trazer segurança e proteção a privacidade de seus usuários, trazendo detalhadamente a forma de atuação do site referente as etapas de coleta, armazenamento, uso, compartilhamento e divulgação dos dados pessoais dos usuários,&nbsp; bem como a forma como é realizada a segurança e proteção dos dados que são coletados na nossa página.</p>
						<p>&nbsp;O site será tratado no decorrer dessa Política de Privacidade e Segurança como “nós “, “nos&#8221;, “conosco&#8221; e “nosso”.</p>
						<hr /><h3>&nbsp;<strong>Observação importante</strong></h3>
						<p>Realizamos o tratamento dos seus dados pessoais com total responsabilidade e para demonstrar a transparência da nossa coleta e utilização de dados pessoais, disponibilizamos a política de privacidade, que contém informações necessárias esclarecedoras para os usuários do nosso site, como:</p>
						<ul><li>Nome do mantenedor, operador e proprietário do site;</li><li>Para qual público é voltado nosso site;</li><li>&nbsp;A partir de qual idade é indicado absorver os conteúdos do site;</li><li>Quais os dados são coletados;</li><li>O que é feito com os dados coletados?</li><li>&nbsp;Como ocorre o tratamento dos dados coletados?</li><li>&nbsp;Uso de cookies;</li><li>É possível o compartilhamento ou publicação dos dados por terceiros?</li><li>Formas de entrar em contato conosco.</li></ul>
						<hr />
						<h3><strong>&nbsp;Sobre o nosso site</strong></h3>
						<p>Nosso site tem como principal objetivo informar e levar conhecimento, e atua por meio da publicação de textos, vídeos, áudios e os demais conteúdos aqui vinculados em busca de trazer informações de suma importância a respeito dos assuntos aqui tratados.</p>
						<p>De forma responsável, o site declara assumir&nbsp; compromisso total com a segurança e privacidade dos dados de seus clientes, durante todo o período de navegação em nosso site. Esta política de privacidade e segurança tem como principal objetivo de esclarecer e demonstrar aos visitantes do nosso site, como todas as informações, aqui coletadas, serão tratadas e quais poderão ser divulgadas ou publicadas com nossos parceiros.</p>
						<p>Qualquer modificação em nossa Política de Privacidade é Segurança serão informadas aos nossos usuários de forma imediata neste espaço.</p>
						<p>Ao acessar o nosso site, o usuário concorda, aceita e adere de forma automática todas as informações e condições previstas neste documento, que pode ser denominado como Política de Privacidade e Segurança ou Termos de Uso, que devem ser obrigatoriamente respeitados.</p>
						<p>O site traz abaixo todas as regras e termos referente a privacidade e o uso da nossa página, qualquer comunicado posterior será notificado de forma expressa aos nossos usuários.&nbsp;</p>
						<p>&nbsp;A equipe do nosso site está à disposição para esclarecer quaisquer&nbsp; dúvidas.</p>
						<p>O nosso site é indicado para pessoas a partir de 18 anos, que possuam interesse ou curiosidade a respeito do conteúdo que trazemos. Caso seja menor que 18 anos, é necessário a permissão do responsável.</p>
						<p>&nbsp;O conteúdo do nosso site é produzido por nossa equipe respeitando os valores éticos e humanos, bem como os princípios morais, buscando informar da melhor maneira a respeito do conteúdo que trazemos.</p>
						<hr />
						<h3><strong>Dados coletados</strong></h3>
						<p>&nbsp;O nosso site coleta alguns dados e informações dos nossos usuários, como será explicado abaixo neste tópico.&nbsp;</p>
						<hr />
						<h4>Dados pessoais do usuário</h4>
						<p>Os dados pessoais do usuário coletados pelo nosso site, são fornecidos exclusiva e expressamente pelo usuário, exceto previsões mencionadas abaixo, contudo, só serão coletados e tratados com o consentimento do usuário.</p>
						<hr />
						<h4>Coleta de dados</h4>
						<p>A coleta de dados realizada pelo nosso site acontece ou pode acontecer em todas as páginas, no momento do preenchimento de formulários, cadastro para contato ou envio de dúvidas.</p>
						<p>O usuário do nosso site ao acessa-lo e preencher qualquer dos formulários do nosso site, assim como ao aceitar o s cookies utilizados, demonstra de forma expressa e clara concorda e dá seu consentimento para a coleta e os demais tratamentos de seus dados.</p>
						<p>O nosso site coletará informações dos usuários, como nome completo, endereço de IP, telefone do usuário, e-mail, telefone de contato entre outros dados que são coletados com o preenchimento dos formulários presentes neste website.</p>
						<p>Podemos também trabalhar com web beacons para monitorar o desempenho dos acessos em nossos posts. </p>
						
						<hr />
						<h3>Modo de Coleta de Dados</h3>
						<p>Só realizamos a coleta de dados do usuário em casos necessários, como por exemplo para lhe disponibilizar algum serviço, mas tudo conforme as legislações vigentes no nosso país e respeitando expressamente a Lei Geral de Proteção de Dados.</p>
						<p>&nbsp;A coleta de dados que acontece no nosso site, ocorre apenas quando há o conhecimento e, livre e espontâneo consentimento do usuário.</p>
						<p>&nbsp;Não realizamos nenhuma coleta de dados sem a permissão do usuário, ou por qualquer meio que possa tornar o consentimento inválido, como a coerção.</p>
						<p>&nbsp;A coleta de dados pode acontecer através do preenchimento da Fale Conosco, de formulários presentes no nosso site, do preenchimento de cadastro no nosso site, de compras realizadas no nosso site ou do aceite para receber informações em seu e-mail ou número de contato.</p>
						<hr />
						<h4>Coleta automática de dados pessoais</h4>
						<p>Podemos nonitorar nosso site com web beacons e analytics, trabalhamos com a coleta de alguns dados dos usuários de forma automática, mas esses dados são computados apenas para conhecermos melhor o nosso público e termo conhecimento a respeito de quais posts são mais acessados.</p>
						<p>&nbsp;Os dados coletados&nbsp; de forma automática são tratados com segurança e respeitando a privacidade de nossos usuários, sendo coletados diretamente pelo sistema.</p>
						<hr />
						<h4>Finalidade da Coleta de dados</h4>
						<p>Todos os dados fornecidos por nossos usuários são utilizados unicamente com a finalidade de prestação de serviço e melhor desempenho, pois através dos dados coletados podemos elaborar de forma mais direcionada nosso conteúdo, não buscamos nenhuma espécie de vantagem sobre eles.</p>
						<p>Os dados fornecidos para que entremos em contato por meio do FAQ ou do Fale Conosco são utilizados unicamente para essa finalidade.</p>
						<p>A Coleta de dados ocorre também para podermos enviar novidades ou serviços que desempenhamos, mas sempre com o consentimento do usuário, já que é necessário o preenchimento de formulário ou a aceitação dos nossos cookies.</p>
						<hr />
						<h4>Dados que não são coletados</h4>
						<p>&nbsp;O nosso site não trabalha com a coleta de dados sensíveis, pois só utilizamos de fato o que é necessário para a realização dos nossos serviços.</p>
						<p>Os dados sensíveis, como a etnia, religião e genética, como estão estabelecidos na Lei de Proteção Geral de Dados não são coletados ou requeridos pela nossa página.</p>
						<p>Os dados sensíveis só serão coletados por nós em casos expressamente necessários e previstos na legislação supracitada, sendo informado ao usuário a respeito dessa coleta, do modo como ocorrerá o tratamento e a finalidade da coleta desses dados sensíveis.</p>
						<hr />
						<h4>Compartilhamento, publicação ou divulgação dos dados dos usuários a terceiros</h4>
						<p>Trabalhamos sempre pensando no bem-estar do nosso usuário, por esse motivo, utilizamos a boa-fé como base para divulgação, compartilhamento ou publicação de qualquer dado coleta por nós.</p>
						<p>Não trabalhamos com compartilhamento, publicação ou divulgação de dados que coletamos dos nossos usuários, exceto em casos, onde há previsão de leis, determinação judicial, boletim, comprimento de alguma determinação de autoridade pública, onde se torne obrigatória alguma dessas condutas, ou alguma hipótese de determinação regulatória.</p>
						<p>É permitido o acesso aos dados coletados por nós, a um terceiro que tenha permissão do titular dos dados.</p>
						<p>Em caso de investigação criminal deixamos cientes todos os nossos usuários de que cooperaremos da forma que nos for requisitada.</p>
						<p>Não podemos recusar compartilhar dados nos casos acima mencionados.</p>
						<hr />
		
						<h3>Anonimização de dados</h3>
						<p>Anonimização de dados é um conjunto de etapas que são realizados após a coleta de dados de uma determinada pessoa, para desvincular aqueles dados da figura do titular deles, não permitindo assim, que posteriormente seja possível unir as informações dos dados a uma pessoa específica, mesmo com a utilização de técnicas mais elaboradas que poderiam conseguir esse resultado.</p>
						<p>Todos os dados dos usuários, após serem utilizados para a finalidade para qual foram coletados são anonimizados, não sendo possível identificar o titular de determinado dado e tornando-se inviável que se reúna essas informações novamente para identificar quem é o seu proprietário.</p>
						<p>&nbsp;A anonimização de dados deste site respeita todas as normas estabelecidas na legislação vigente no País, inclusive as formas técnicas e administrativas que devem ser utilizadas.</p>
						<hr />
						<h3>Cookies</h3>
						<p>&nbsp;O nosso site trabalha não trabalho com cookies </p>
						
			

						<h3>Armazenamento de dados</h3>
						<p>Todos os dados que armazenamos tem uma finalidade legitima e que é informada previamente aos nossos usuários, sendo armazenados apenas após o consentimento do usuário e respeitando o que prevê a legislação vigente sobre esse assunto.</p>
						<p>Nós armazenamos dados dos nossos usuários em busca de gerar uma experiência melhor para eles ao acessarem nosso site, para ter controle da dinâmica em nossas páginas, responder comentários, dúvidas e retornar contatos futuros.</p>
						<p>&nbsp;Os dados armazenados para comunicar as atualizações do nosso site todos são armazenados com segurança e expressamente para essa finalidade.</p>
						<p>&nbsp;O período de tempo de armazenamento dos dados é de ( coloque o período em que você armazenará os dados, ou caso você não saiba um período específico inicie com o parágrafo abaixo).</p>
						<p>&nbsp;Os dados que coletamos e tratamos são utilizados por um período de tempo adequado a finalidade que é descrita neste documento.</p>
						<p>&nbsp;O armazenamento dos dados realizado por nós, não retira qualquer direito do titular dos dados pessoais sobre ele. Além disso, respeitamos todos os direitos do controlador do site e as demais disposições reguladoras ou legais que versem sobre esse assunto.</p>
						<p>Os dados armazenados por nós são tratados com toda segurança para promover a proteção do nosso usuário de qualquer evento danoso.</p>
						<hr />
						<h3>Tratamento de dados</h3>
						<p>O tratamento dos dados coletados por nossa plataforma respeita todas as normas estabelecidas na Lei Geral de Proteção de Dados, respeitando o direito do usuário de ter acesso aos seus dados e alterá-los a qualquer momento durante nosso armazenamento.</p>
						<p>Os dados tratados por nós estão todos seguros, pois utilizamos técnicas para preservar a privacidade de todos os titulares dos dados coletados.</p>
						<p>Não realizamos nenhum tratamento de dados ilícito ou que vá contra o que estabelece as normas brasileiras e esta Política de Privacidade e Segurança.</p>
						<p>As etapas dos tratamentos de dados inicia-se desde a sua coleta.</p>
						<p>As atividades referente ao tratamento de dados realizadas por nós, tem base legal para acontecer, respeitando os limites previstos na legislação.</p>
						<p>Disponibilizamos o nosso canal de contato para responder qualquer dúvida a respeito da base legal que fundamentamos o tratamento dos dados.</p>
						<p>Você pode entrar em contato conosco pela aba Fale Conosco e pelos canais de atendimento presentes ao final desta Política de Privacidade e Segurança.</p>
						<hr />
						<h4>Eliminação dos dados armazenados</h4>
						<p>Os dados são armazenados apenas durante o período em que são utilizados para a finalidade específica para qual foram coletados, após esse período realizamos a eliminação dos dados do nosso sistema ou os anonimizamos.</p>
						<p>Não temos nenhum interesse em continuar armazenando os dados dos nossos usuários após o período necessário para o fim que foram coletados.</p>
						<p>O armazenamento de dados continuará ainda que a finalidade tenha sido realizada, quando houver disposição legal a respeito disso ou disposição regulatória que impeçam a sua eliminação ou anonimização.&nbsp;</p>
						<p>A anonimização dos dados realizados pelo nosso site é uma maneira de manter a segurança dos dados coletados dos nossos usuários após a finalidade para qual a coleta aconteceu for alcançada.</p>
						<hr />
						<h4>Segurança no tratamento dos dados</h4>
						<p>Os nossos sistemas de proteção atendem a todos os requisitos trazidos na Lei 13.709/2018, respeitando as condutas de boa prática, as medidas de segurança técnicas e administrativas para proteção dos dados coletados.</p>
						<p>Temos muito cuidado e preocupação em proporcionar segurança aos dados coletados dos nossos usuários, por esse motivo utilizamos ferramentas específicas para garantir a privacidade dos dados que tratamos.</p>
						<p>As técnicas utilizadas para assegurar a segurança dos dados coletados por nosso website são todas adequadas e aptas a gerar a proteção integral dos dados dos usuários de qualquer possível situação onde possa ser obtido os dados, compartilhados, publicados, destruídos e alterados sem autorização e de maneira irregular.</p>
						<p>Adotamos medidas específicas para cada espécie de dados sendo o modo de segurança direcionado especificadamente para o dado que foi coletado, de acordo com o contexto da sua coleta e sua finalidade.</p>
						<p>Utilizamos proteção em nossos computadores por meio da criptografia de dados e/ ou firewall.</p>
						<p>O acesso físico aos nossos arquivos só acontece quando é necessário que algum de nossos funcionários tenham acesso a eles para desempenhar sua função profissional.</p>
						<p>Os dados anonimizados não são considerados pelo nosso site como informações pessoais, visto que através deles não é possível criar nenhum vínculo com o titular dos dados, já que não há como identificá-lo.</p>
						<p>Os dados anonimizados são mantidos em nossos arquivos e sistemas com toda a segurança técnica necessária para sua proteção.</p>
						<p>É importante informar que tomamos todos os cuidados para proteger os dados de nossos usuários, mas ainda assim, há algumas situações que acontecem onde há o vazamento de dados. O nosso website não é responsável por qualquer incidente com dados pessoais que aconteça por situação em que não temos o controle, como a culpa exclusiva do usuário, ou ataques de hackers.</p>
						<p>Qualquer incidente que cause danos aos dados pessoais dos usuários, informaremos as autoridades responsáveis, conforme a Lei 13.709/2018.</p>
						<hr />
						
						<h3>Consentimento do usuário</h3>
						<p>O usuário permite de livre e espontânea vontade que seus dados sejam coletados por nosso site e armazenados pelo período necessário para&nbsp; realização da finalidade estabelecida.</p>
						<p>O usuário afirma que não sofreu qualquer coação,&nbsp; ou foi induzido a concordar com essa Política de Privacidade e segurança.</p>
						<p>O usuário pactua que navegará e utilizará adequadamente os conteúdos publicados em nosso site, agindo de boa-fé e respeitando uma conduta digna e respeitosa, sem realizar comentários discriminatórios a respeito de temas religiosos, raciais, terroristas, jogos proibidos e etc.</p>
						<p>O usuário compromete-se a não causar nenhum dano ao site, não devendo gerar comentários maldosos na publicação,&nbsp;não&nbsp;disseminar vírus que causem &nbsp;dano aos hardware e softwares dos nossos parceiros e ao nosso website.</p>
						<hr />
						<h3>Futuras alterações neste documento</h3>
						<p>Está Política de Privacidade e Segurança segue todas as regras trazidas na legislação brasileira, especialmente as presentes na Lei Geral de Proteção de Dados.</p>
						<p>Não há um período específico para ocorrer qualquer modificação neste texto, por esse motivo informamos ser livre o nosso direito de alteração a qualquer momento, principalmente no caso de alterações feitas na legislação brasileira ou no nosso site.</p>
						<p>Nós comprometemos a informar aos nossos usuários a respeito de qualquer alteração que aconteça nesta Política de Privacidade e Segurança.</p>
						<hr />
						<h3>Formas de entrar em contato conosco</h3>
						<p>Buscamos sempre o melhor relacionamento com o nosso usuário, por esse motivo estamos a disposição para responder qualquer dúvida a respeito da nossa Política de Privacidade e segurança e a informar sobre o tratamento de dados realizados por nós.&nbsp;</p>
						<p>Você pode entrar em contato conosco através de email, telefone ou endereço disposto na aba Quem somos, ou Contato.</p>
						<hr />
						<h3>Informações adicionais</h3>
						<p>Este documento foi desenvolvido pelo <a href="https://diegocastro.adv.br/modelo-politica-privacidade/">Advogado Diego Castro</a> (OAB/PI 15.613) e modificado com permissão para este site, com a função de explicitar e orientar os nossos usuários a respeito da Política de Privacidade e Segurança utilizada pelo nosso site.</p>
						<p>Esperamos que tenha ficado claro todos os pontos debatidos neste documento.</p>
						<p>Está Política de Privacidade e Segurança passa a ter validade a partir de 17 de Junho de 2021 com validade indeterminada.</p>	

						<p>Fonte: https://diegocastro.adv.br/modelo-politica-privacidade/</p>					
					</div>
				</div>
			</div>
		</div>

{% endblock %}
